<div class="jumbotron text-center">
  <h1> Vamos Tickets </h1>
  <p class="lead">
    Bienvenidos a Vamos, la plataforma más grande de tickets de Costa Rica
  </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Compra tus boletos</h3>
    <p>Adquiere las entradas a tus eventos favoritos de forma r&oacute;ida y sencilla.</p>
  </div>
  <div class="col-md-4">
    <h3>Organiza eventos</h3>
    <p>Registrate, crea tus propios eventos y administra el control de tus boletos.</p>
  </div>
  <div class="col-md-4">
    <h3>Transfiere tickets</h3>
    <p>Compra boletos y transfierelos a tus amigos sin ning&uacute;n problema.</p>
  </div>
</div>
