<div class="row">
  <div class="col-lg-2">
    <div id="contenedor">
      <br>
      <div class="imgRedonda"><i class="fa fa-user-circle-o" style="font-size:100px"></i></div><br>
      <p id="name">NOMBRE</p>
      <hr/>
      <ul id="principal">
        <p>Principal</p>
        <li id="opc"><i class="fa fa-line-chart" style="font-size:17px"></i><a href="#"> DASBOARD</a></li>
        <li id="opc"><i class="fa fa-envelope-open-o" style="font-size:14px"></i>
        <a href="#"> NOTIFICACIONES</a></li>
        <li id="opc"><i class="fa fa-gears" style="font-size:17px"></i><a href="#"> AJUSTES</a></li>
        <li id="opc"><i class="fa fa-calendar" style="font-size:17px"></i><a href="#"> CREAR EVENTO</a></li>
      </ul>
      <hr/>
      <ul id="admi">
        <p>Administrador</p>
        <li id="opc"><i class="fa fa-dollar" style="font-size:17px"></i><a href="#"> FACTURACIÓN</a></li>
        <li id="opc"><i class="fa fa-user-circle-o" style="font-size:17px"></i><a href="#">  USUARIOS</a></li>
        <li id="opc"><i class="fa fa-question-circle-o" style="font-size:20px"></i><a href="#"> AYUDA</a></li>
      </ul>
    </div>
  </div>
  <!-------------------------------->
  <div class="col-lg-10">
    <nav>
      <br>
      <ul>
        <li id="listNav1"><a style="color: black;" title="Opcion 1" href="#">DASHBOARD</a></li>
        <i class="fa fa-caret-right" style="font-size:24px"></i>
        <li id="listNav2"><a style="color: black;" title="Opcion 2" href="#">EVENTOS ACTIVOS</a></li>
        <li id="listNav3"><a style="color: black;" title="Opcion 3" href="#">VAMOS</a></li>
        <li id="listNav4"><a style="color: black;" title="Opcion 4" href="#">CERRAR SESIÓN</a></li>
      </ul>
      <hr/>
    </nav>
  </div>
</div>
